
/* .App {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./img/Background_Groove.jpg");
  background-size: cover;
  color: #fff;
} */

h1{
  text-align: center;
  margin-top: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 4px #000;
}

#container{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

@media (max-width:1200px){
  #container {
    flex-direction: column;
    align-items: center;
  }
}


